.signup-input:focus {
	outline: 0;
	border: 2px solid #4183d7;
}

.signup-input {
	border: 2px solid #BBBBBB;
	border-radius: 4px;
}

.input-error {
	margin: 10px;
	font-size: 13px;
	color: #777777;
}